.error{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../assets/img/404.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
    border-radius: 10px;
        
}

.errorTexto{
    padding: 10px;
    width: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.514);
    color: white;
    
}

