@media screen and (max-width: 600px){
    section .fila{
        height: fit-content;
        height: -moz-fit-content;
    }
    .fotoBanner{
        object-fit: scale-down;
    }
    .mainDisplay{
        display: $dflex;
        flex-direction: $flex-column;
    
        .formAncho{
        width: $cienporciento;
        }
    }
    footer{
        flex-direction: $flex-column;
        .filaFooter{
            display: $dflex;
            flex-direction: $flex-column;        
            align-items: $center;
            .parrafoFooter{
                text-align: $center;
            }
            .redes{
                display: $dflex;
                justify-content: $center;
                margin: $auto;
                padding: $cero;
            }
        }
    }    
}

@media screen and (max-width: 1200px){
    footer {
        .parrafoFooter{
            text-align: $center;
        }
        .redes{
            display: $dflex;
            justify-content: $center;
            margin: $auto;
            padding: $cero;
            .icon{
                font-size: 2rem;
            }
        }
        
    }    
}